<body>
  <h2>Choices</h2>
  <button id="pick-random">Pick Random Choice</button>
  <form class="choices">

  </form>
  <button id="add-choice">+</button>

  <h2 class="chosen"></h2>
  <%= javascript_include_tag 'randomizer' %>
</body>
